body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square, .square-hightLight {    
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }

  .square {
    background: #fff;
    
  }

  .square-hightLight { 
    background: #fff123;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game-board {
    display: flex;
    flex-direction: row;
  }

  .game-dashboard { 
    display: flex;
    flex-direction: column;
  }
  
  .game-info {    
    margin-top: 10px;
    margin-right: 20px;
  }

  .game-setting {
    margin-left: 10px;    
    margin-right: 10px;    
  }

  .game-button { 
    display: flex;    
    flex-direction: row;        
  }

  .game-button-item { 
    font-size: large;
    flex: 1;    
    text-align: center;
  }

  .game-button-newgame { 
    font-size: large;        
    text-align: center;
    flex: 1;
    margin-top: 10px;    
    margin-bottom: 10px;
  }
  .li-active { 
    font-weight: bold;
    color: #FF0000;
  }

  .li-inactive { 
    font-weight: 100;
    color: black;
  }